.about{
	font-size: 13px;
   text-align: justify;
}
.newImage{
	float:left;
	margin: 4px 10px 2px 0px;
	border:1px solid #CCC;
	padding:6px; 
  width: 300px;
  height: 200px; 
    
}
.newTitle{
		text-align: center;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
    color: black;

}
